In [2]:
import pandas as pd

How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [8]:
df = pd.read_csv("adult.data.csv")
race_count = df["race"].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [9]:
df.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

What is the average age of men?

In [5]:
male = df.loc[df['sex'] == "Male"]
average_age_men = male['age'].mean()
average_age_men

39.43354749885268

What is the percentage of people who have a Bachelor's degree?

In [6]:
bachelor = df.loc[df['education'] == "Bachelors"]
bachelor_count = bachelor['education'].value_counts()

percentage_bachelors = bachelor_count / len(df.index) * 100

Bachelors    16.446055
Name: education, dtype: float64

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [169]:
requirements = ["Bachelors","Masters","Doctorate"]

higher_edu = df[df['education'].isin(requirements)]
salary50K = higher_edu.loc[higher_edu['salary'] == ">50K"]
total_higher_salary = salary50K['salary'].value_counts()
total_Higher_educators = higher_edu['salary'].value_counts().sum()
higher_education_rich = total_higher_salary/total_Higher_educators * 100

>50K    3486
Name: salary, dtype: int64

What percentage of people without advanced education make more than 50K?

In [26]:
without_higher_edu = df[ ~ df['education'].isin(requirements)]

salary50K = without_higher_edu.loc[without_higher_edu['salary'] == ">50K"]
person_without_high_edu = without_higher_edu['education'].value_counts().sum()
salary_higher_without_higher_edu = salary50K['education'].value_counts().sum()
lower_education_rich = salary_higher_without_higher_edu/person_without_high_edu * 100

17.3713601914639

What is the minimum number of hours a person works per week?

In [36]:
min_work_hours  = 100
for index,row in df.iterrows():
    if  min_work_hours > row['hours-per-week']:
        min_work_hours = row['hours-per-week']

1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [25]:
work_minimum_hours = df.loc[df['hours-per-week'] == 1]
num_min_workers = work_minimum_hours['hours-per-week'].value_counts()
higher_salary_mini_hours = work_minimum_hours.loc[work_minimum_hours['salary'] == ">50K"]
higher_salary_minimum_hours = higher_salary_mini_hours['salary'].value_counts().sum()
rich_percentage = higher_salary_minimum_hours / num_min_workers * 100

1    10.0
Name: hours-per-week, dtype: float64

What country has the highest percentage of people that earn >50K and what is that percentage?

In [152]:
salary_higher_than_50K = df.loc[df['salary'] == '>50K']
total_people_with_higher_salary = salary_higher_than_50K.value_counts().sum()
country_with_higher_salary = salary_higher_than_50K['native-country'].value_counts()
highest_earning_country_percentage = country_with_higher_salary[0] / total_people_with_higher_salary * 100
highest_earning_country = country_with_higher_salary.index[0]

('United-States', 91.45517153424308)

Identify the most popular occupation for those who earn >50K in India.

In [166]:
salary_higher_than_50K = df.loc[df['salary'] == '>50K']
salary_with_higher_edu_in_india = salary_higher_than_50K.loc[salary_higher_than_50K['native-country'] == 'India']
top_IN_occupation = salary_with_higher_edu_in_india['occupation'].value_counts().index[0]

'Prof-specialty'

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Average age of men: 39.43354749885268
Percentage with Bachelors degrees: Bachelors    16.446055
Name: education, dtype: float64%
Percentage with higher education that earn >50K: >50K    46.535843
Name: salary, dtype: float64%
Percentage without higher education that earn >50K: 17.3713601914639%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10.0%
Country with highest percentage of rich: United-States
Highest percentage of rich people in country: 91.45517153424308%
Top occupations in India: Prof-specialty

{'race_count': White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
 Name: race, dtype: int64,
 'average_age_men': 39.43354749885268,
 'percentage_bachelors': Bachelors    16.446055
 Name: education, dtype: float64,
 'higher_education_rich': >50K    46.535843
 Name: salary, dtype: float64,
 'lower_education_rich': 17.3713601914639,
 'min_work_hours': 1,
 'rich_percentage': 10.0,
 'highest_earning_country': 'United-States',
 'highest_earning_country_percentage': 91.45517153424308,
 'top_IN_occupation': 'Prof-specialty'}